{% extends "base.html" %}
{% block content %}
<div class="navbar">
    {% include "home/navbar.html" %}
</div>
<body style="background-color: wheat !important;">
    <div class="row">
        <div class="col-6">
           
                    {% for post in posts %}
                   
                        <div class="card shadow" style="width: 20rem; height: 33rem;">
                            <img src="/media/{{post.image}}" class="card-img-top" alt="..." height="250px">
                            <div class="card-body">
                              <h5 class="card-title">{{post.title}} <br><small>by {{post.author}}</small></h5>
                              <p class="card-text">{{post.content| truncatechars:210}}</p>
                              <a href="" class="btn btn-primary">Read More {% if user.is_superuser %}<a href="delete_blog_post/{{post.slug}}/" class="btn btn-danger mx-4">Delete Blog</a>{% endif %}</a>
                            </div>
                        
                    </div>
                    {% endfor %}
              
            
        <div class="col-6">.col-6</div>
      </div>
    </div>
  </body>
  {% endblock %}