{% extends "base.html" %}
{% block content %}
<div class="navbar">
    {% include "home/navbar.html" %}
</div>
    <div id="main"></div>
    <!--NAVIGATION AREA ENDS-->
    <header>
     <center> <h1 style="color: wheat;">Neighbor<i class="fas fa-search-location"></i>Watch</h1></center>
      <h5 style="font-family: 'Architects Daughter', cursive;
      font-family: 'Exo', sans-serif;
      font-family: 'Pacifico', cursive;
       color: white; font-size: 30px;">A platform where you get to learn on what is happening in your community.</h5>
    </header>
    <div class="grid">
      <div class="card">
        <div class="card__content">
          <div class="card__front">
            <h3 class="card__title">Kilimani</h3>
            <p class="card__subtitle"></p>
          </div>

          <div class="card__back">
            <a href="">
              <button class="button">JOIN</button>
            </a>
            <p class="card__body">
                Kilimani<br>
              An hub of tranquility
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <div class="card2__front">
            <h3 class="card__title">Ngara</h3>
            <p class="card__subtitle"></p>
          </div>

          <div class="card__back">
            <a href="">
              <button class="button">JOIN</button>
            </a>
            <p class="card__body">
                Ngara <br>
             A estate located near the capital
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <div class="card3__front">
            <h3 class="card__title">Nairobi</h3>
            <p class="card__subtitle"></p>
          </div>

          <div class="card__back">
            <a href="">
              <button class="button">JOIN</button>
            </a>
            <p class="card__body">
   <p>Central bussiness district
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <div class="card4__front">
            <h3 class="card__title">Roysambu</h3>
            <p class="card__subtitle"></p>
          </div>

          <div class="card__back">
            <a href="">
              <button class="button">JOIN</button>
            </a>
            <p class="card__body">
           An hub of upper middle class foreighers
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <div class="card5__front">
            <h3 class="card__title">Kitisuru</h3>
            <p class="card__subtitle"></p>
          </div>

          <div class="card__back">
            <a href="">
              <button class="button">JOIN</button>
            </a>
            <p class="card__body">
         An afluent Neighborhood 
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <div class="card6__front">
            <h3 class="card__title">Rongai</h3>
            <p class="card__subtitle"></p>
          </div>

          <div class="card__back">
            <a href="">
              <button class="button">JOIN</button>
            </a>
            <p class="card__body">
              A Neighborhood of fun activities
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <div class="card7__front">
            <h3 class="card__title">Uthiru</h3>
            <p class="card__subtitle"></p>
          </div>

          <div class="card__back">
            <a href="">
              <button class="button">JOIN</button>
            </a>
            <p class="card__body">
        A quite place to live
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <div class="card8__front">
            <h3 class="card__title">Muthaiga</h3>
            <p class="card__subtitle"></p>
          </div>

          <div class="card__back">
            <a href="">
              <button class="button">JOIN</button>
            </a>
            <p class="card__body">
          A Neighborhood for the wealthy
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <div class="card9__front">
            <h3 class="card__title">Kahawa</h3>
            <p class="card__subtitle"></p>
          </div>

          <div class="card__back">
            <a href="">
              <button class="button">JOIN</button>
            </a>
            <p class="card__body">
            This is a Neighborhood filled with lot of outgoing fun
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
        {% include "home/footer.html" %}
    </div>
  </body>

{% endblock %}